<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="agentone.Properties.Settings.DOTNETMCY_AOConnectionString"
            connectionString="Data Source=79.171.16.13;Initial Catalog=DOTNETMCY_AO;User ID=esseagao"
            providerName="System.Data.SqlClient" />
        <add name="agentone.Properties.Settings.DOTNETMCY_AOConnectionString1"
            connectionString="Data Source=79.171.16.13;Initial Catalog=DOTNETMCY_AO;Persist Security Info=True;User ID=limagao;Password=EssEAGAO09"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>